<div class="sobre-nos-container">
    <div class="conteudo-principal">
      
      
      <div class="texto-container">
        <h2 class="titulo-sobre">Doe para o Abrigo Meimei!</h2>
        <p class="texto-sobre">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet facilisis urna. 
            Cras nec ante vitae erat lobortis laoreet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 
            Suspendisse non sem in magna vehicula condimentum. Aliquam erat volutpat. Morbi dignissim fermentum est, vel porttitor arcu sagittis a.
        </p>
        <div class="texto-sobre">
            <p >
                Pellentesque vitae velit ex. Mauris dapibus risus quis suscipit vulputate. 
                Eget gravida sapien a, blandit velit. Donec imperdiet volutpat arcu, eu tincidunt justo ornare a. 
                Sed a suscipit sapien. Vivamus ut nisi eu lorem lobortis pretium. Suspendisse interdum felis a volutpat venenatis.
            </p>
        </div>
    </div>
    <div class="foto-container">
        <img src="https://i.imgur.com/eQusCdB.jpeg" alt="Equipe do Abrigo Meimei" class="foto-equipe">
      </div>
    </div>
  

  </div>
