<div class="informar-abandono-container">
    <div class="conteudo-principal">
      <div class="foto-container">
        <img src="https://i.imgur.com/SyxYIDA.jpeg" alt="Animais abandonados" class="foto-equipe">
      </div>
      
      <div class="texto-container">
        <h2 class="titulo-sobre">Informar Abandono</h2>
        <p class="texto-sobre">
            Testemunhar o abandono de um animal é uma dor que não pode ser ignorada. Cada vez que um bichinho é deixado para trás,
             uma parte do mundo perde um pouco da sua ternura. Esses animais — que sentem medo, frio e saudade — muitas vezes 
             ficam à deriva, esperando por ajuda, por um olhar compassivo, por alguém que os veja como merecedores de cuidado
              e amor. Eles não conseguem pedir socorro, mas você pode ser a voz deles.
        </p>
        <div class="texto-sobre">
            <p >
                Nosso abrigo existe para resgatar vidas que foram deixadas de lado, e precisamos da sua ajuda para isso. 
                Ao nos informar sobre um caso de abandono, você está dando uma nova chance para um animal que não tem para 
                onde ir. Com o seu gesto, podemos acolher, tratar e dar esperança a quem só precisa de uma segunda oportunidade. 
                Preencha o formulário com o máximo de detalhes que puder — juntos, salvamos mais corações.
            </p>
        </div>
        <div class="botoes-acoes">
            <button class="btn-acao" (mouseenter)="animarBtn($event)" (mouseleave)="resetarBtn($event)" (click)="abrirFormulario()">
              <span class="btn-texto">Seja Voluntário</span>
            </button>
          </div>
    </div>
    </div>
  

  </div>